@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

div {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.intro {
    color: #FFF;
    font-family: var(--font);
    font-style: normal;
    gap: 0.25rem;
    display: flex;

    height: 26.5rem;
    flex-shrink: 0;
    align-self: stretch;
    background: #1B3B6F;
    align-items: center;
    line-height: 1;
}

.introText {
    padding-left: 0.35rem;
    display: flex;
    flex-direction: column;
    gap:0.7rem;
    justify-content: center;
}

.section2 {
    color: #FFF;
    font-family: var(--font);
    font-style: normal;
    background: linear-gradient(178deg, #1B3B6F 2.07%, #1E6E91 381.01%);
    display: flex;
    padding: 1.5625rem 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;
    align-self: stretch;
}

.boxed {
    width: 43.25rem;
    height: 21.5rem;
    border-radius: 0.9375rem;
    background: #1C7293;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items:center;
}

.name {
    font-size: 3.75rem;
    font-weight: 400;
    margin-bottom: 0rem;
    padding-left: 1.7rem
}

.subtitle {
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1.0em;
}

.heading {
    font-size: 3.75rem;
    font-weight: 400;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-left: 1.5rem;
    line-height: 105%;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

.subheading {
    margin-top: 0rem;
    font-size: 1.75rem;
    font-weight: 400;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.tunnel {
    width: 69.24519rem;
    height: 25.95044rem;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.skills {
    display: flex;
    height: 27.9375rem;
    padding: 1.5625rem 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #1B3B6F -111.58%, #1E6E91 321.24%);
}

:root {
    --cheight: 10.5rem;
    --font: "Gowun Dodum", sans-serif;
    --java-side: 10.5rem;
}

.smallboxed {
    width: 12.0625rem;
    height: 18.1875rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    border-radius: 0.9375rem;
    background: #1C7293;
    /* drop shadow */
    box-shadow: 0 9px 6.8px 0 rgba(0, 0, 0, 0.25);

    justify-content: center;
    align-items:center;
}


.clogo {
    height: var(--cheight);
    width: calc(var(--cheight) * (360/406));
    justify-content: center;
    align-items:center;
}

.ctext {
    font-family: var(--font);
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.javalogo {
    height: var(--java-side);
    width: var(--java-side);
    justify-content: center;
    align-items:center;
    background-color: #FFFFFF;
    padding: 0.3rem 0.3rem;
    border-radius: 15%;
}

.pythonlogo {
    height: var(--java-side);
    width: var(--java-side);
    justify-content: center;
    align-items:center;
    background-color: #FFFFFF;
    padding: 0.3rem 0.3rem;
    border-radius: 15%;
}

.skillMore {
    padding-left: 0.35rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: center;
}

.skillText {
    display: flex;
    width: 20rem;
    height: 2.8rem;
    padding: 1.3125rem 6.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    font-family: var(--font);
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
}

.skillButton {
    display: flex;
    width: 20rem;
    height: 5rem;
    padding: 1.3125rem 6.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1.125rem;
    background: linear-gradient(180deg, #1C7293 0%, #1C7293 100%);
    /* drop shadow */
    box-shadow: 0 9px 6.8px 0 rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: "Hedvig Letters Sans", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.skillButton:hover {
    display: flex;
    width: 20rem;
    height: 5rem;
    padding: 1.3125rem 6.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1.125rem;
    background: linear-gradient(180deg, #1c7193c0 0%, #1c7193b0 100%);
    /* drop shadow */
    box-shadow: 0 9px 6.8px 0 rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: "Hedvig Letters Sans", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.explore {
    display: flex;
    height: 27.9375rem;
    padding: 1.5625rem 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;
    align-self: stretch;
    background: linear-gradient(180deg, #1B3B6F -193.61%, #1E6E91 202.27%);
}

.exploreGif {
    width: 26rem;
    height: 26rem;    
    border-radius: 0.9375rem;
    background: #1C7293;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    align-content: center;
    justify-content: center;
}

.exploreGif img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.exploreText {
    display: flex;
    width: 20rem;
    height: 2.8rem;
    padding: 1.3125rem 6.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    font-family: var(--font);
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
}

.exploreButton {
    display: flex;
    width: 20rem;
    height: 5rem;
    padding: 1.3125rem 6.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1.125rem;
    background: linear-gradient(180deg, #1C7293 0%, #1C7293 100%);
    /* drop shadow */
    box-shadow: 0 9px 6.8px 0 rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: "Hedvig Letters Sans", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.exploreButton:hover {
    display: flex;
    width: 20rem;
    height: 5rem;
    padding: 1.3125rem 6.0625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1.125rem;
    background: linear-gradient(180deg, #1c7193bd 0%, #1c7193ad 100%);
    /* drop shadow */
    box-shadow: 0 9px 6.8px 0 rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: "Hedvig Letters Sans", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 14rem;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background: linear-gradient(180deg, #1B3B6F -295.76%, #1E6E91 100%);
    color: #FFFFFF;
    font-family: "Hedvig Letters Sans", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.linkbox {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.96875rem 1.375rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.125rem;
    background: #0C3959;
    /* drop shadow */
    box-shadow: 0 9px 6.8px 0 rgba(0, 0, 0, 0.25);
}

.linkbox:hover {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.96875rem 1.375rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.125rem;
    background: #0c3959c4;
    /* drop shadow */
    box-shadow: 0 9px 6.8px 0 rgba(0, 0, 0, 0.25);
}

.horiz {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}